<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div class="bg-light border-end vh-100 p-3"
     style="width:250px;"
     th:fragment="sidebar">

    <h5>Navigation</h5>

    <hr>

    <ul class="nav flex-column">

        <li class="nav-item mb-2">
            <a class="nav-link" th:href="@{/}">
                <i class="bi bi-speedometer2"></i>
                Dashboard
            </a>
        </li>

        <li class="nav-item mb-2">
            <a class="nav-link" th:href="@{/leads}">
                <i class="bi bi-people"></i>
                Leads
            </a>
        </li>

        <li class="nav-item mb-2">
            <a class="nav-link" href="/courses">
                <i class="bi bi-book"></i>
                Courses
            </a>
        </li>

        <li class="nav-item mb-2">
            <a class="nav-link" href="/counselors">
                <i class="bi bi-person-workspace"></i>
                Counselors
            </a>
        </li>

        <li class="nav-item mb-2">
            <a class="nav-link" href="/followups">
                <i class="bi bi-calendar-check"></i>
                Follow-ups
            </a>
        </li>

        <li class="nav-item mb-2">
            <a class="nav-link" href="/calllogs">
                <i class="bi bi-telephone"></i>
                Call Logs
            </a>
        </li>

    </ul>

</div>

</body>
</html>